.hero {
  // padding-top: 200px;
  // padding-bottom: 200px;
  padding-block: 118px;
  margin: 0 auto;
  max-width: 1600px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include insert-hero-background("../images/jpg/mobile/mob-bg-img@1x.jpg");

  $cur-img: "../images/webp/mobile/mob-bg-img@1x.webp";
  @supports (background: url($cur-img)) {
    @include insert-hero-background($cur-img);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2ddpx) {
    @include insert-hero-background("../images/jpg/mobile/mob-bg-img@2x.jpg");

    $cur-img: "../images/webp/mobile/mob-bg-img@2x.webp";
    @supports (background: url($cur-img)) {
      @include insert-hero-background($cur-img);
    }
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 258dpi),
    (min-resolution: 2ddpx) {
    @include insert-hero-background("../images/jpg/mobile/mob-bg-img@3x.jpg");

    $cur-img: "../images/webp/mobile/mob-bg-img@3x.webp";
    @supports (background: url($cur-img)) {
      @include insert-hero-background($cur-img);
    }
  }

  //tablet
  @media screen and (min-width: $content-width-tab) {
    @include insert-hero-background("../images/jpg/tablet/tab-bg-img@1x.jpg");

    $cur-img: "../images/webp/tablet/tab-bg-img@1x.webp";
    @supports (background: url($cur-img)) {
      @include insert-hero-background($cur-img);
    }

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2ddpx) {
      @include insert-hero-background("../images/jpg/tablet/tab-bg-img@2x.jpg");

      $cur-img: "../images/webp/tablet/tab-bg-img@2x.webp";
      @supports (background: url($cur-img)) {
        @include insert-hero-background($cur-img);
      }
    }

    @media (min-device-pixel-ratio: 3),
      (min-resolution: 258dpi),
      (min-resolution: 2ddpx) {
      @include insert-hero-background("../images/jpg/tablet/tab-bg-img@3x.jpg");

      $cur-img: "../images/webp/tablet/tab-bg-img@3x.webp";
      @supports (background: url($cur-img)) {
        @include insert-hero-background($cur-img);
      }
    }
  }

  //desktop
  @media screen and (min-width: $content-width-desk) {
    padding-block: 200px;
    @include insert-hero-background("../images/jpg/desktop/desk-bg-img@1x.jpg");

    $cur-img: "../images/webp/desktop/desk-bg-img@1x.webp";
    @supports (background: url($cur-img)) {
      @include insert-hero-background($cur-img);
    }

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2ddpx) {
      @include insert-hero-background(
        "../images/jpg/desktop/desk-bg-img@2x.jpg"
      );

      $cur-img: "../images/webp/desktop/desk-bg-img@2x.webp";
      @supports (background: url($cur-img)) {
        @include insert-hero-background($cur-img);
      }
    }

    @media (min-device-pixel-ratio: 3),
      (min-resolution: 258dpi),
      (min-resolution: 2ddpx) {
      @include insert-hero-background(
        "../images/jpg/desktop/desk-bg-img@3x.jpg"
      );

      $cur-img: "../images/webp/desktop/desk-bg-img@3x.webp";
      @supports (background: url($cur-img)) {
        @include insert-hero-background($cur-img);
      }
    }
  }
}

.hero__title {
  max-width: 360px;
  margin-inline: auto;
  text-transform: uppercase;
  @include fonts(26px, 42px, 0.06em, $font-weight-black, $color-white);

  @media screen and (min-width: $content-width-desk) {
    max-width: 696px;
    @include fonts(44px, 60px, 0.06em, $font-weight-black, $color-white);
  }
}

.hero__button {
  margin-top: 30px;
}
